<template>
  <div>
    <h2>{{ fm.title }}</h2>
    <TagLinks /><br/>
    <strong>{{ formatDate(fm.date) }}</strong>
    <Content />
  </div>
</template>

<script>
import moment from "moment"

import TagLinks from '@theme/partials/post/TagLinks'

export default {
  components: { TagLinks },
  computed: {
    fm() { return this.$page.frontmatter }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("MMM Do YYYY")
    }
  }
};
</script>
