<!-- 
https://code.roygreenfeld.com/cookbook/adding-tags-to-vuepress.html
-->

<template>
  <div>
    Tags: 
    <router-link
      v-for="(tag, index) in $page.frontmatter.tags"
      v-slot="{ href }"
      :to="{ path: `/tags.html#${tag}`}">
      <span>
        <a :href="href" @click="navigate">{{tag}}</a><span 
        v-if="index+1 != $page.frontmatter.tags.length">, </span>
      </span>
    </router-link>
  </div>
</template>

<script>
export default {
  methods: {
    fm() { return $page.frontmatter }
  }
};
</script>
