<template>
  <div>
    <ul v-for="post in posts">
      <li>
        <h3><a :href="post.path">
        {{ post.title }}
        </a></h3>
        <p>{{ post.frontmatter.excerpt }}</p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  computed: {
    posts() {
      return this.$site.pages
        .filter(page => page.frontmatter.kind == "Post")
        .sort((a, b) => Date.parse(b.frontmatter.date)
                      - Date.parse(a.frontmatter.date));
    },
    fm() { return this.$page.frontmatter }
  }
};
</script>
