<!-- 
  https://code.roygreenfeld.com/cookbook/adding-cats-to-vuepress.html 
-->

<!-- .vuepress/components/CatList.vue -->
<template lang="html">
  <div>
    <span v-for="cat in Object.keys(cats)">
      <h2 :id="cat">
        <router-link
          :to="{ path: `/categories.html#${cat}`}"
          class="header-anchor"
          aria-hidden="true">#</router-link>
        {{cat}}
      </h2>
      <ul>
        <li v-for="page in cats[cat]">
          <router-link
            :to="{ path: page.path}">{{page.title}}</router-link>
        </li>
      </ul>
    </span>
  </div>
</template>

<script>
export default {
  computed: {
    cats() {
      let cats = {}
      for (let page of this.$site.pages) {
        for (let index in page.frontmatter.categories) {
          const cat = page.frontmatter.categories[index]
          if (cat in cats) {
            cats[cat].push(page)
          } else {
            cats[cat] = [page]
          }
        }
      }
      return cats
    }
  }
}
</script>
