<template>
  <div>
    <Header />

    <main role="main">
      <List v-if="isList" />
      <Post v-else-if="isPost" />
      <Page v-else />
    </main>

    <Footer />
  </div>
</template>

<script>
import List from '@theme/layout/List'
import Post from '@theme/layout/Post'
import Page from '@theme/layout/Page'

import Header from '@theme/partials/site/Header'
import Footer from '@theme/partials/site/Footer'

export default {
  components: { List, Page, Post, Header, Footer },
  computed: {
    isPost() {
      return this.$page.frontmatter.kind == "Post";
    },
    isList() {
      return this.$page.frontmatter.kind == "List";
    }
  }
};
</script>
