<template>
  <div>
    <h1 class="title">{{ $site.title }}</h1>

    <main role="main">
      <Index v-if="isIndex" />
      <Post v-else-if="isPost" />
      <Page v-else />
    </main>
  </div>
</template>

<script>
import Index from './Index';
import Post from '@theme/layout/Post';
import Page from '@theme/layout/Page';

export default {
  components: {
    Index,
    Page,
    Post
  },
  computed: {
    isIndex() {
      return this.$page.path.endsWith("/");
    },
    isPost() {
      return this.$page.frontmatter.kind == "Post";
    }
  }
};
</script>
