<template>
  <div class="columns is-8 maxwidth">
    <main role="main" 
        class="column is-full">

      <article class="blog-post box">
        <h4 class="title is-4"
          >{{ fm.title }}</h4>
        <Content />
      </article>

      <div class="box">
        This is a home kind layout,
        to show landing page.
      </div>    
    </main>
  </div>
</template>

<script>
export default {
  computed: {
    fm() { return this.$page.frontmatter }
  }
};
</script>
