<template>
  <div class="columns is-8 maxwidth">
    <main role="main" 
        class="column is-two-thirds">

      <article class="blog-post box">
        <h4 class="title is-4"
          >{{ fm.title }}</h4>
        <Content />
      </article>
    </main>
  
    <aside class="column is-one-thirds">
      <div class="box">
        This is a page kind layout.
      </div>
    </aside>
  </div>
</template>

<script>
export default {
  computed: {
    fm() { return this.$page.frontmatter }
  }
};
</script>



