<template>
  <div class="columns is-8 maxwidth">
    <main role="main"
          class="column is-two-thirds">
      <article class="blog-post box">
        <h4 class="title is-4"
          >{{ fm.title }}</h4>
        <TagLinks /><br/>
        <strong>{{ formatDate(fm.date) }}</strong>
        <Content />
      </article>
    </main>

    <aside class="column is-one-thirds">
      <div class="box">
        This is a post kind layout.
      </div>
    </aside>
  </div>
</template>

<script>
import moment from "moment"

import TagLinks from '@theme/partials/post/TagLinks'

export default {
  components: { TagLinks },
  computed: {
    fm() { return this.$page.frontmatter }
  },
  methods: {
    formatDate(date) {
      return moment(date).format("MMM Do YYYY")
    }
  }
};
</script>
