<template>
  <div>
    <Header />

    <div class="layout-base">
      <Home v-if="isHome" />
      <List v-else-if="isList" />
      <Post v-else-if="isPost" />
      <Page v-else />
    </div>

    <Footer />

    <script src="/js/vue.min.js"></script>    
    <script src="/js/bulma-burger-vue.js"></script>
  </div>
</template>

<script>
import Home from '@theme/layout/Home'
import List from '@theme/layout/List'
import Post from '@theme/layout/Post'
import Page from '@theme/layout/Page'

import Header from '@theme/partials/site/Header'
import Footer from '@theme/partials/site/Footer'

export default {
  components: { Home, List, Page, Post, Header, Footer },
  computed: {
    kind() { return this.$page.frontmatter.kind },
    isHome() { return this.kind == "Home" },
    isList() { return this.kind == "List" },
    isPost() { return this.kind == "Post" }
  }
};
</script>


