<template>
  <div>
    <h2>{{ $page.frontmatter.title }}</h2>
    <strong>{{ formatDate($page.frontmatter.date) }}</strong>
    <Content />
  </div>
</template>
<script>
import moment from "moment"

export default {
  methods: {
    formatDate(date) {
      return moment(date).format("MMM Do YYYY")
    }
  }
};
</script>
